:root {
	--fg: white;
	--bg: black;
	--accent: pink;
}

html {
	width: 50%;
	color: var(--fg);
	background-color: var(--bg);
	margin: auto;
	padding-bottom: 2em;
	text-transform: lowercase;
}

body {
	font-size: 16px;
	font-family: sans-serif;
}

h1, h2, h3 {
	font-weight: bold;
	color: var(--accent);
}

ul {
	list-style-type: square;
}

a, code {
	font-weight: bold;
	font-style: italic;
	color: var(--accent);
}

hr {
	size: 1px;
	color: var(--accent);
}

blockquote {
	font-style: italic;
}
